.info {
  position: absolute;
  top: 0;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: rgb(232 221 14 / 50%);
  border-radius: 30px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    text-align: center;
    font-size: 1rem;
    font-family: 'Alkatra', cursive;

    background-color: #fff233;
    border-radius: 30px;
    border: 2px dashed black;

    height: fit-content;
    width: 60%;
    padding: 0.5rem;

    @media (max-width: 350px) {
      font-size: 0.75rem;
    }
  }

  &__close-btn {
    cursor: pointer;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    font-size: 0.5rem;

    background-color: black;
    border: none;
    color: #fff233;
    outline: none;
  }
}
